html {
  font-family: "Didact Gothic", sans-serif;
  text-align: center;
}
header {
  position: relative;
  padding-top: 20px;
}

#title {
  width: 600px;
  margin: 0 auto;
  position: relative;
  font-weight: 900;
  font-family: Roboto;
}
#intro {
  font-weight: 200;
  width: 900px;
  margin: 0 auto;
  position: relative;
}
#projectIntro {
  font-weight: 200;
  width: 600px;
  margin: 0 auto;
  position: relative;
}
h3 {
  font-weight: 100;
}

#myVid {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

blockquote {
  margin: 0;
  background: #eee;
  padding: 1em;
  border-radius: 1em;
}
